<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MEMBER_MAPPER">
    
    <resultMap type="org.almansa.app.core.entity.member.SimpleMember" id="memberMapper">
        <constructor>
            <idArg javaType="Long" column="ID"/>
            <arg javaType="String" column="LOGIN_ID"/>
            <arg javaType="String" column="PASSWORD"/>
            <arg javaType="Boolean" column="IS_ADMIN"/>
        </constructor>
    </resultMap>
    
    <select id="getAll" resultMap="memberMapper">
        SELECT ID,
               LOGIN_ID,
               PASSWORD,
               IS_ADMIN
          FROM MEMBER
    </select>

    <select id="getById" resultMap="memberMapper" parameterType="Long">
        SELECT ID,
               LOGIN_ID,
               PASSWORD,
               IS_ADMIN
          FROM MEMBER
         WHERE ID = #{id}
    </select>
    
    <select id="getByLoginId" resultMap="memberMapper" parameterType="String">
        SELECT ID,
               LOGIN_ID,
               PASSWORD,
               IS_ADMIN
          FROM MEMBER
         WHERE LOGIN_ID = #{loginId}
    </select> 
       
    <insert id="insert" parameterType="hashmap">
         INSERT INTO MEMBER(LOGIN_ID, PASSWORD, IS_ADMIN)
         VALUES(#{LOGIN_ID}, #{PASSWORD}, #{IS_ADMIN})
    </insert>           
    
</mapper>