<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="POST_MAPPER">
    <resultMap type="org.almansa.app.core.entity.post.DefaultTextPost" id="postMapper">
        <constructor>
            <idArg column="ID" javaType="java.lang.Long"/>
            <arg column="NAME" javaType="String"/>
            <arg column="CREATION_DATE" javaType="Date"/>
            <arg column="MODIFIED_DATE" javaType="Date"/>
            <arg column="CONTENTS" javaType="String"/>
            <arg column="BID" javaType="java.lang.Long"/>            
            <arg column="MID" javaType="java.lang.Long"/>
            <arg column="LOGIN_ID" javaType="String"/>
            <arg column="CLICK_CNT" javaType="java.lang.Integer"/> 
        </constructor>
    </resultMap>
    
    <select id="all" resultMap="postMapper">
        SELECT POST.ID, 
               POST.NAME, 
               POST.CONTENTS, 
               POST.MEMBER_ID, 
               IFNULL(POST.CLICK_CNT, 0) AS CLICK_CNT,              
               POST.CREATION_DATE,
               POST.MODIFIED_DATE,             
               MEMBER.ID AS MID,
               MEMBER.LOGIN_ID, 
               BOARD.ID AS BID,
               BOARD.NAME
          FROM POST 
          LEFT JOIN MEMBER ON POST.MEMBER_ID = MEMBER.ID
          LEFT JOIN BOARD ON POST.BOARD_ID = BOARD.ID 
          ORDER BY POST.CREATION_DATE DESC
    </select> 
    
    <select id="getById" resultMap="postMapper" parameterType="Long">
        SELECT POST.ID, 
               POST.NAME, 
               POST.CONTENTS, 
               POST.MEMBER_ID, 
               IFNULL(POST.CLICK_CNT, 0) AS CLICK_CNT,              
               POST.CREATION_DATE,
               POST.MODIFIED_DATE,             
               MEMBER.ID AS MID,
               MEMBER.LOGIN_ID, 
               BOARD.ID AS BID,
               BOARD.NAME
          FROM POST 
          LEFT JOIN MEMBER ON POST.MEMBER_ID = MEMBER.ID
          LEFT JOIN BOARD ON POST.BOARD_ID = BOARD.ID
         WHERE POST.ID = #{id}
    </select> 

    <select id="getByWriterId" resultMap="postMapper" parameterType="Long">
        SELECT POST.ID, 
               POST.NAME, 
               POST.CONTENTS, 
               POST.MEMBER_ID, 
               IFNULL(POST.CLICK_CNT, 0) AS CLICK_CNT,              
               POST.CREATION_DATE,
               POST.MODIFIED_DATE,             
               MEMBER.ID AS MID,
               MEMBER.LOGIN_ID, 
               BOARD.ID AS BID,
               BOARD.NAME
          FROM POST 
          LEFT JOIN MEMBER ON POST.MEMBER_ID = MEMBER.ID
          LEFT JOIN BOARD ON POST.BOARD_ID = BOARD.ID
         WHERE POST.MEMBER_ID = #{id}
    </select> 
    
    <delete id="delete" parameterType="Long">
        DELETE  
          FROM POST
         WHERE ID = #{id}
    </delete>
    
     <insert id="insert" parameterType="hashmap">
		INSERT INTO POST (NAME, CREATION_DATE, MODIFIED_DATE, CONTENTS, BOARD_ID, MEMBER_ID, CLICK_CNT)
		VALUES
		(
		  #{NAME}, 
		  #{CREATION_DATE}, 
		  #{MODIFIED_DATE}, 
		  #{CONTENTS}, 
		  #{BOARD_ID}, 
		  #{MEMBER_ID}, 
		  0
		)
    </insert>  
    
    <insert id="update" parameterType="hashmap">
        UPDATE POST
           SET NAME = #{NAME},
               CREATION_DATE = #{CREATION_DATE}, 
               MODIFIED_DATE = #{MODIFIED_DATE}, 
               CONTENTS = #{CONTENTS}, 
               BOARD_ID = #{BOARD_ID}, 
               MEMBER_ID = #{MEMBER_ID}, 
               CLICK_CNT = #{CLICK_CNT}
         WHERE ID = #{ID}
    </insert>    
  
</mapper>


